<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="navService.visible">
    <a class="navbar-brand" routerLink="" (click)="getAllProducts()">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="" (click)="getAllProducts()">Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Categories</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/" (click)="getProducts(category)"
                        *ngFor="let category of categories">{{category.categoryName}}</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary" type="submit"><i class="material-icons ">
                    search
                </i></button>
            <ul class="navbar-nav mr-auto" *ngIf="!authService.selectedUser">
                <li class="nav-item">
                    <a class="nav-link" routerLink="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="register">Register</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto" *ngIf="authService.selectedUser">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">{{ authService.selectedUser.firstName }}</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" routerLink="/cart">Cart</a>
                        <a class="dropdown-item" routerLink="orderlist">Orders</a>
                        <a class="dropdown-item" routerLink="">Update Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="">Logout</a>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</nav>