<div class="container border border-primary rounded p-5 shadow-lg bg-white m-5">
  <div class="row ">
    <div class="col-md-7">
      <img class="img-fluid" src="{{ product.imageUrl }}" alt="">
    </div>
    <div class="col-md-5">
      <h1 class="my-4">{{ product.productBrand }}
        <small> {{ product.productName }}</small>
      </h1>
      <p>{{product.productDescription}}</p>
      <h6 class="my-3">MRP : {{product.mrp}}/-</h6>
      <h4>Discount: {{product.discount}}/-</h4>
      <h3>Offer Price : {{ product.mrp - product.discount }}/-</h3>

      <ul>
        <h5>Features</h5>
        <li  *ngFor="let productdetail of productDetails" >{{productdetail.propertName}}: {{productdetail.propertyValue}}</li>
      </ul>
      <a routerLink="/" class="btn btn-success my-3">Add To Cart</a>
    </div>
  </div>