<div class="container my-5 p-5 border border-primary rounded p-5 shadow-lg bg-white">
    <table class="table table-hover">
        <thead>
            <tr class="table-active openmodal" data-toggle="modal" data-target="#modal1">
                <th>Your Orders</th>
                <th>Order Date</th>
                <th>Net Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-warning" *ngFor="let order of orders; let i = index">
                <td><button type="button" class="btn btn-outline-primary openmodal" data-toggle="modal"
                        data-target="#modal1"
                        (click)="getOrderDetails(i)">#ORD-{{ order.order.orderNumber }}</button>
                </td>
                <td>{{ orderDate }}</td>
                <td>{{ order.order.invoiceAmount }}/-</td>
                <td *ngIf="order.order.transStatus==='SUCCESS'">Delivered</td>
                <td *ngIf="!order.order.transStatus==='SUCCESS'">Delivering</td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="modal1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">My Orders</h4> <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                </div> <!-- Modal body -->
                <div class="modal-body">
                    <div class="container">
                        <h6>Item Details</h6>

                        <div class="border border-warning p-5 shadow-lg bg-white" *ngFor="let orderDetail of orderDetails">
                            <div class="row">
                                <div class="col"> <img class="img-fluid" src="https://i.imgur.com/iItpzRh.jpg">
                                </div>
                                <div class="col-xs-6">
                                    <ul type="none">
                                        <li>Price: {{ orderDetail.product.mrp }}/-</li>
                                        <li>Quantity: {{ orderDetail.orderDetails.unitQty }}</li>
                                        <li>Discount: {{ orderDetail.orderDetails.discount }}/-</li>
                                        <li>Offer Price: {{ orderDetail.orderDetails.total }}/-</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class=" m-2">
                            <h6>Order Details</h6>
                            <div class="row ">
                                <div class="col-xs-6">
                                    <ul type="none">
                                        <li class="left">Order number:</li>
                                        <li class="left">Order Date:</li>
                                        <li class="left">Payment Mode:</li>
                                        <li class="left">Shipper:</li>
                                        <li class="left">Total Amount:</li>
                                    </ul>
                                </div>
                                <div class="col-xs-6 ">
                                    <ul class="right" type="none">
                                        <!-- <li class="right">#ORD-{{ orders.order.orderNumber }}</li>
                                        <li class="right">{{ orderDate }}</li>
                                        <li class="right">{{ orders.payment.paymentType }}</li>
                                        <li class="right">{{ orders.shipper.companyName }} - +91 {{ orders.shipper.shipperContact }}</li>
                                        <li class="right">{{ orders.invoiceAmount }}</li> -->
                                        <!-- {{ order | json }} -->
                                        <li class="right">#ORD-order.order.orderNumber</li>
                                        <li class="right"> orderDate</li>
                                        <li class="right"> orders.payment.paymentType</li>
                                        <li class="right"> orders.shipper.companyName - +91  orders.shipper.shipperContact</li>
                                        <li class="right"> orders.invoiceAmount</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <h6>Shipping Address</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Address
                            </label>
                        </div>
                    </div>
                </div> <!-- Modal footer -->
                <div class="modal-footer"> <button type="button" class="btn btn-outline-primary">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>