<div class="d-flex justify-content-center">
  <div class="d-flex flex-row flex-nowrap ">
    <button class="btn btn-outline-primary m-1"
      *ngFor="let category of categories" (click)="getProducts(category)">{{category.categoryName}}</button>
  </div>
</div>
<div class="card-columns mb-4 m-5">
  <div class="card h-100 border-warning" *ngFor="let product of prodService.products; let i = index">
    <img src="{{ product.imageUrl }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ product.productBrand }} {{ product.productName }}</h5>
      <p class="card-text">{{ product.mrp }}/-</p>
      <h5 class="h5 card-text">Discount : {{ product.discount }}/-</h5>
      <h5 class="h5 card-text">Offer Price : {{ product.mrp - product.discount }}/-</h5>
      <p class="card-text text-danger" *ngIf="product.inStockQty<50 || product.inStockQty == 50">Hurry!! Only
        {{ product.inStockQty }} left in stock</p>
      <div>
        <a class="stretched-link text-info" (click)="getProductById(i)" routerLink="productdetails">More
          Details..</a>
      </div>
    </div>
  </div>